@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');
@import url('bootstrap/dist/css/bootstrap.css');

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  background-color: #060417;
}